@import '../../scss/main';

.header {
  display: flex;
  align-items: center;
  border-bottom: 0.1rem solid $black;
  height: 5rem;
  padding: 0 2rem;

  @include respond(phone) {
    flex-direction: column;
    height: 10rem;
    text-align: center;
    justify-content: center;
  }

  &__user-level {
    font-size: 1.6rem;
  }

  &__title {
    text-align: center;
    margin: 0;
    font-size: 2.5rem;
  }
}
