<div mat-dialog-close class="m-3">X</div>
<div class="px-5 d-flex justify-content-center flex-column align-items-center">
  <h1 class="text-center mt-2 win-dialog-message">כל הכבוד! ניצחת!</h1>
  <div class="win-dialog-details" *ngIf="playerDetail.name">שם השחקן: {{ playerDetail.name }}</div>
  <div class="win-dialog-details mt-2" *ngIf="playerDetail.age">גיל השחקן: {{ playerDetail.age }}</div>
  <div class="win-dialog-details mt-2" *ngIf="playerDetail.team">קבוצה: {{ playerDetail.team }}</div>
  <div class="win-dialog-details mt-2" *ngIf="playerDetail.position">תפקיד: {{ playerDetail.position }}</div>
  <div class="win-dialog-details mt-2" *ngIf="playerDetail.shirtNumber">מספר חולצה: {{ playerDetail.shirtNumber }}</div>
  <div class="win-dialog-details mt-2" *ngIf="playerDetail.coachName">מאמן: {{ playerDetail.coachName }}</div>
  <img class="logo-image" *ngIf="playerDetail.teamLogo" [src]="playerDetail.teamLogo" [alt]="playerDetail.name">
</div>
