.header {
  display: flex;
  align-items: center;
  border-bottom: 0.1rem solid black;
  height: 5rem;
  padding: 0 2rem;
}

.header-title {
  text-align: center;
  margin: 0;
  font-size: 2.5rem;
}

.difficulty-level {
  font-size: 1.6rem;
}

.w-33 {
  min-width: 33.3%;
}

.quiz {
  display: flex;
  justify-content: center;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border: 0.1rem solid #d3d6da;
  margin: 0.3rem;
  font-weight: 550;
  font-size: 3.5rem;
}

@keyframes flip {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

.keyboard {
  display: flex;
  justify-content: center;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 7rem;
  cursor: pointer;
  background-color: #D3D6DA;
  margin: 0.3rem;
  font-size: 2.5rem;
}

.green {
  background-color: #2f872a;
  color: white;
  animation: flip 550ms ease forwards;
}

.yellow {
  background-color: #a39308;
  color: white;
  animation: flip 550ms ease forwards;
}

.gray {
  background-color: #777c7f;
  color: white;
  animation: flip 550ms ease forwards;
}

@media only screen and (max-width:481px)  {
  .header {
    flex-direction: column;
    height: 10rem;
    text-align: center;
  }
}
