@import '../scss/abstracts/variables';
@import '../scss/abstracts/mixin';
@import '../scss/base/utilities';

.quiz {
  display: flex;
  justify-content: center;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 7rem;
  border: 0.1rem solid $light-gray;
  margin: 0.3rem;
  font-weight: 550;
  font-size: 3.5rem;
}

.keyboard {
  display: flex;
  justify-content: center;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 7rem;
  cursor: pointer;
  background-color: $light-gray;
  margin: 0.3rem;
  font-size: 2.5rem;
}

.green {
  background-color: $dark-green;
  color: $white;
  animation: flip 550ms ease forwards;
}

.yellow {
  background-color: $dark-yellow;
  color: $white;
  animation: flip 550ms ease forwards;
}

.gray {
  background-color: $dark-gray;
  color: $white;
  animation: flip 550ms ease forwards;
}
